* {
   margin:0;
   padding:0
}
html, body, #wrap {
   height: 100%;
   font-family: OpenSans-Regular, sans-serif;  
   font-size: 13px;  
}
body  #wrap {
   height: auto !important;
   min-height: 93%;
   font-family: OpenSans-Regular, sans-serif;
   font-size: 13px;    
  
}
section {   
	height:auto;
	min-height: 86%; 
	width:100%;	
	position: relative;
} 

/*El margin top del footer debe ser igual al padding-bottom del section en negativo*/
footer {
   position: relative;
   /*margin-top: -50px; 
   height: 50px;*/
   clear: both;
   background-color:#009FDB;
   font-size: 11px;
   margin-top: -50; 
   height:7%;
   width:100%;   
   bottom: 0;
}

header {
	background-color: #009FDB;
	height:50px;
	width:100%;	
}


input {
	/*height: 10px;*/
	font-size: 1px;
}

i {
	cursor: pointer;	
}

img {
	cursor: pointer;	
}


input::-webkit-input-placeholder { color: #C8C7C7;}
input:-moz-placeholder { color: #C8C7C7;}
input::-moz-placeholder { color: #C8C7C7;}
input:-ms-input-placeholder { color: #C8C7C7;}

section, article, aside, footer, header, nav, hgroup {
  display:block;
}

.div-header-1 {
	float: left; 
	width: 50%;
}


.div-header-2 {
    float: right; 
    width: 50%;
    text-align: right;
    padding-top: 10px;
    padding-right: 20px;
}

.btn-header {
	background-color: white;
}

.container_web {	
	display: flex;
	height:auto !important;
	min-height: 100%;
	width:100%;		
}

.menu {	
	float:left; 
	width: 20%; 
	height:100%;
	min-height: 100%;
	padding:20px;
	padding-left:20px;
	padding-right:20px;
	/*border-radius: 15px 15px 15px 15px;*/
	border-right: 3px #c2c2a3 solid;	
	margin: 5px;
}

.panel {
	float: left; 
	width: 80%; 
	height:100%;
	min-height: 100%;
	padding:20px;
	padding-left:20px;
	padding-right:20px;	
	background-color: white; 	
}

.lista_empresas {	
	float:left; 
	width: 50%; 
	height:100%;
	min-height: 100%;
	padding-top:20px;
	
	padding-right:10px;
	/*border-right: 3px #009FDB dashed;*/
}

.zona_maps {
	float: left; 
	width: 50%; 
	height:100%;
	min-height: 100%;
	padding:20px;
	padding-left:20px;
	padding-right:20px;	
}

.etiqueta {
	width: auto;
	min-width:80px;
}

.etiqueta-extra {
	width: auto;
	min-width:100px;
}

.margen-inputs {
	margin-top: 20px;
}
.margen-izq {
	margin-left: 10px;
}

.margen-der {
	padding-right: 10px!important;
}

.ancho-total {
	width:100%;
}

.ancho-70 {
	width:70%;
}

.ancho-60 {
	width:60%;
}

.ancho-400-p {
	width:400px;
}

.ancho-50-p {
	width:50px;
}


.ancho-30 {
	width:30%;	
}

.ancho-10 {
	width:10%;
}

.box-resultado {	
	border-style:solid;
	border-width:0 1px 1px 1px;
	border-color:#dbdbdb;
	background-color:white;
	position:relative;
	display:inline-block;
    box-sizing: border-box;
    width:100%;
}

.box-resultado-empresa {	
	border-style:solid;
	border-width:1px 1px 1px 1px;
	border-color:#dbdbdb;
	background-color:white;
	position:relative;
	display:inline-block;
    box-sizing: border-box;
    width:100%;
    text-align: center;
}

.box-resultado-pagina{	
	border-style:solid;
	border-width:0 1px 1px 1px;
	border-color:#dbdbdb;
	background-color:white;
	position:relative;
	display:inline-block;
    box-sizing: border-box;
    width:100%;
    text-align: center;
}

.box-resultado:hover {
	background-color:#f8f8f8;
}


.box-empresa {
	/*display:table-cell;*/
    vertical-align: bottom;
	min-width: 100%;
	width: 100%;
}

.contenedor_empresa {
    /*display: table-row;*/
    width:100%;
}

.texto_empresa {
	font-family: "Verdana";
	font-weight: bold;
	padding-top:3px;
    width:98%;
    font-size:16px;
    float:left;
	line-height: 20px;
	color:#004d66;
}

.texto_empresa-inactiva {
	font-family: "Verdana";
	font-weight: bold;
	padding-top:3px;
    width:98%;
    font-size:16px;
    float:left;
	line-height: 20px;
	color:#951F06;
}

.contenedor_datos_empresa {
    display: table-cell;
}

.clr{clear:both;}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.box-direccion{
	margin-top: 5px;
	margin-bottom: -1px;
	/*font-weight:700;
	font-size:14px;*/
}

.box-actividad {
    padding-top:0px; 
    font-size:12px;
}

.text-estandar {
	font-family:"Helvetica";
	color:#585858;	
	font-size: 12px;
	line-height:20px;
	font-weight: 500;
}

.text-estandar-pagina {
	font-family:"Helvetica";
	font-size: 16px;
	line-height:20px;
	font-weight: 500;
	color: black;
	cursor: pointer;
}

.text-estandar-pagina-sel {
	font-family:"Helvetica";
	color:#004d66;	
	font-size: 17px;
	line-height:20px;
	font-weight: bold;
}

.text-estandar-empresa {
	font-family:"Helvetica";
	color:#585858;	
	font-size: 18px;
	line-height:20px;
	font-weight: 500;
	color: #004d66;
}

.text-bold {
	font-weight: bold;
}

.clase_iconos {
    font-family: FontAwesome;
    font-size: 15px;
    color: #444;
    margin-left: 5px;
    vertical-align: top;
    padding-top: 3px;
    cursor: pointer;
}

#gmap_canvas {
    width: 100%;
    height: 400px;
    background-color:white;
}

.div-mod {
    text-align:right;
    padding-right: 10px;
    font-size: 15px;
    color: #444;
}

.table td {
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    height: 50px;
    border: 1px solid black;
}

thead tr td {
    height: 60px;
    font-weight: bold;
    background-color: #C8C2C2;
}

.div-tabla {
    padding: 50px;
    width: 100%;
}

.login-form-title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}